

/*- Style Sheet for Life Aboard -*/



/*- Font Definitions -*/
@font-face {
  font-family: handwritten;
  src: url("../FONTS/RujisHandwritingFont.otf") format("opentype");
}

@font-face {
  font-family: antique;
  src: url("../FONTS/ModernAntiqua.ttf") format("truetype");
}



/*- Overall Page Formatting -*/
* {
	margin: 0;
	padding: 0;
	font-family: handwritten;
	font-size:18pt;
	color:black;
}

html, body
{
	width: 1280px;
	height: 1024px;
	background-color:black;
	background-image:url('../IMAGES/matt/BackgroundWithLabel.png');
	background-repeat:no-repeat;
}

H1
{
	font-family:antique;
	font-size:1.5em;
	color:black;
	margin-bottom:0.25em;
}

H2
{
	font-family:antique;
	font-size:1.5em;
	color:black;
	margin-bottom:0.25em;
}

P
{
	text-shadow: 0px 0px 2px #8C5200;
	line-height:1.05em;
	margin:0.5em;
}

.pageHere{
	
}

#bottom
{
	box-sizing:border-box;
	display:inline-box;
	width:1280px;
	height:204px;
}

.btmLeft
{
	position:absolute;
	box-sizing:border-box;
	width:660px;
	height:100%;
	left:0px;
	top:822px;
	float:left;
	background-repeat:no-repeat;
}

.btmRight
{
	position:absolute;
	box-sizing:border-box;
	width:640px;
	height:244px;
	left:640px;
	top:780px;
	float:right;
}



/* Selectors / Clickables / Navigation */
.selectSign
{
	display:block;
	position:absolute;
	top:873px;
	left: 320px;
	z-index:11;
}

.coverLeft
{
	display:inline-block;
	background-image:url('../IMAGES/matt/CaptainCover.png');
	background-repeat:no-repeat;
	z-index:11;
	width:650px;
	height:100%;
	float:left;
	margin-right:-100px;
}

.coverRight
{
	display:inline-block;
	background-image:url('../IMAGES/matt/DavyCover.png');
	background-repeat:no-repeat;
	z-index:11;
	width:640px;
	height:100%;
	float:right;
	margin-right:0px;
}

.journalSpine
{
	width:90%;
	height: 45px;
}

.captainSelect
{
	background-image:url('../IMAGES/matt/BookSpines_03.png');
}

.daveySelect
{
	background-image:url('../IMAGES/matt/BookSpines_02.png');
}

.pageTab
{
	/*border:3px aqua dotted;*/
	background-color:transparent;
	color:#BA5400;
	font-size:0.9em;
	text-align:center;
	
	height:210px;
	width:116px;
	
	margin-left:4px;
	margin-top:7px;
	padding:00em;
	
	float:left;
	background-image:url('../IMAGES/tabs/ribbon_blue.png');
	background-repeat:no-repeat;
	z-index:10;
}

.pageTabRedActive {
	background-image:url('../IMAGES/tabs/ribbon_red_active.png');
}

.pageTabBlueActive {
	background-image:url('../IMAGES/tabs/ribbon_blue_active.png');
}

.pageTab img
{
	margin-top:17px;
}



/* CSS for BookletJS */
.book_wrapper
{
    margin:0 auto;
    padding-top:40px;
    width:1280px;
    height:900px;
    position:relative;
	background-color: transparent;
	background-image:url('../IMAGES/matt/BookOpenPreComp_Scaled.png');
	z-index:0;
	background-repeat:no-repeat;
}

.book_wrapper img
{
    margin:5px 0px 5px 5px;
    width:300px;
    padding:12px;
}

.booklet
{
    -moz-box-shadow:0px 0px 1px #fff;
    -webkit-box-shadow:0px 0px 1px #fff;
    box-shadow:0px 0px 1px #fff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
	z-index:0;
}

.booklet .b-wrap-left
{
	-webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background:url('../IMAGES/matt/page_bg_left.png') no-repeat;
	z-index:0;
}

.booklet .b-wrap-right
{
	-webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background:url('../IMAGES/matt/page_bg_right.png') no-repeat;
	z-index:0;
}

.booklet .b-wrap-right img
{
	float:left;
}

.booklet .b-wrap-left img
{
	float:right;
}

.booklet .b-counter
{
    bottom:10px;
    position:absolute;
    display:block;
    width:90%;
    height:20px;
    color:#222;
    text-align:center;
    font-size:1em;
    padding:5px 0 0;
    background:transparent;
    opacity:0.8;
	text-align:center;
	font-family:antique;
}

a#next_page_button, a#prev_page_button
{
	z-index:10;
    display:hidden;
    position:absolute;
    width:41px;
    height:40px;
    cursor:pointer;
    margin-top:-20px;
    top:50%;
}

a#prev_page_button
{
    left:250px;
	top:753px;
}

a#next_page_button
{
    right:250px;
	top:753px;
    background-position:-41px -40px;
}

a#next_page_button:hover
{
    background-position:-41px 0px;
}

a#prev_page_button:hover
{
    background-position:0px 0px;
}

.loading
{
    width:160px;
    height:56px;
    position: absolute;
    top:50%;
    margin-top:-28px;
    right:135px;
    line-height:56px;
    color:#fff;
    padding-left:60px;
    font-size:15px;
    background: #000 url('../IMAGES/ajax-loader.gif') no-repeat 10px 50%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}

.hidden
{
	display:none;
}